<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Antic+Slab|Rubik&display=swap" rel="stylesheet">
<!-- Semantic UI -->    
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<link rel="stylesheet" type="text/css" href="/styles/style.css">

<!-- ---------------------- -->
    <title>myBlog</title>
</head>
<body>
    <div id="navigation" class="ui fixed inverted menu">
        <div  class="ui container">
            <div class="header item"><i class="coffee icon"></i>"BlogMe"</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Blog</a>
        </div>
    </div>